.about {
	display: flex;
	justify-content: center;
	transform: translateY(10%);
}
.about_title{
  font-size: 2.5rem;
}
.about_content_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: fit-content;
	gap: 1em;
}

.about_photo_container img {
	border-radius: 20%;
	max-width: 400px;
}

.about_description{
	flex:2;
}


@media (width >= 640px) and (width < 768px) {
}
@media (width >= 768px) and (width < 1024px) {
}
@media (width >= 1024px) and (width < 1280px) {
}
@media (width >= 1280px) {
}