.results {
	width: 80%;
}

.results_header_container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 5em;
	padding-left: 2em;
}
.results_header_container a {
	text-decoration: none;
	transition: all 250ms ease-in-out;
	display: flex;
	align-items: center;
}
.results_header_container a:hover {
	color: #ff6500;
}
.main_results {
	display: grid;
	grid-template-columns: 30% 1fr;
	gap: 1em;
}

.results_display {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding: 1em;
	max-height: 80vh;
	overflow-y: auto;
}
.results_graphics {
	width: 50%;
}

.result_piechart {
	text-align: center;
	width: 40%;
}

.results_card {
	border: 1px solid rgba(255, 255, 255, 0.234);
	/* min-width: 50%;
	min-height: 25em; */
	margin-bottom: 1em;
}

.results_likelyhood {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
}
.likelyhood_crimes {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	padding: 1em;
}
.results_progress_bar_container {
	width: 55%;
}
.results_progress_bar {
	color: white !important;
}
.results_likely_crimes {
	width: 90%;
}

.results_analytics_btn {
	/* width: 80%; */
	display: block;
}
.results_analytics {
	display: grid;
	grid-template-columns: 30% 1fr;
	grid-template-rows: auto;
	gap: 2em;
	/* width: 80%; */
}
.table {
	border: 1px solid rgba(255, 255, 255, 0.318);
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 5px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 16px;
	display: block;
}
.table_title {
	font-size: 1.2rem;
	text-align: center;
	margin-block: 1em;
}

.table thead {
	display: flex;
}

.table_header {
	background: #222831;
	height: 2em;
	/* display: flex; */
}
.table_header {
	display: flex;
	align-items: center;
	padding-block: 5px;
	width: 100%;
}
.table_header th {
	flex: 1;
}

tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 85vh;
	overflow-y: auto;
}

.table_header th {
	padding-block: 1rem;
	text-align: center;
}
.table_body_rows {
	display: flex;
}
.table_body_rows td {
	flex: 1;
	padding-block: 1rem;
	text-align: center;
	border-inline: 1px solid rgba(255, 255, 255, 0.318);
}

.table_body_rows:nth-child(even) {
	background-color: #31363f;
}

.singlecrime {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}
.singlecrime_description_item {
	margin-bottom: 10px;
}
.singlecrime_description_item span {
	font-weight: bold;
	margin-right: 10px;
}
.singlecrime_text {
	margin-block: 1.5em;
}
.singlecrime_tendency {
	text-align: end;
}
.singlecrime_tendency_item {
	margin-bottom: 2em;
}
.singlecrime_tendency_item_num {
	font-size: 3em;
}

.singlecrime_description {
	min-height: 50vh;
}

@media (width < 1100px) {
	.main_results {
		grid-template-columns: 1fr;
	}
}
