.results {
	display: grid;
	grid-template-columns: 20% 1fr;
	grid-template-rows: 1fr;
	gap: 1em;
	height: 80vh;
	/* overflow-y: auto; */
}

.sidebar {
	background-color: #151515;
	padding: 1em;
	/* height: 95%; */
	border-radius: 5px;
	box-shadow: rgba(243, 243, 244, 0.25) 0px 13px 27px -5px, rgba(251, 250, 250, 0.3) 0px 8px 16px -8px;	/* border: 1px solid rgba(255, 255, 255, 0.341); */
}

.results_display {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr;

	/* grid-template-rows: auto;
	gap: 2em;  */
	padding: 1em;
}
.results_likelyhood {
	background: black;
}
.likelyhood_crimes {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	padding: 1em;
}
.results_graphics {
	width: 50%;
}

.result_piechart {
	width: 200px;
	height: 200px;
}

.results_card {
	border: 1px solid rgba(255, 255, 255, 0.234);
}
