.home {
	/* display: grid;
	place-items: center;
	height: 80vh;
	position: relative; */
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5em;
	width: 80%;
}
.home_wrapper {
	width: 40%;
}

.home_hero_text {
	margin-bottom: 1em;
	width: 60%;
}

.home_hero_text {
	font-size: 2.5rem;
	font-weight: 800;
	letter-spacing: 2px;
}

.home_skyline {
	position: absolute;
	width: 1200px;
	bottom: 0px;
	/* background-color: blue; */
}

.home_skyline .skyline {

	opacity: 0.2;
	max-width: 100%;
	position: relative;
	object-fit: contain;
}

.helicopter{
	width: 50px;
	position: absolute;
	top: 10px;
	right: 350px;
	opacity: .4;
}
