.home {
	/* display: grid;
	place-items: center;
	height: 80vh;
	position: relative; */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.home_wrapper {
	width: 40%;
}

.home_hero_text {
	margin-bottom: 1em;
	width: 60%;
}

.home_hero_text {
	font-size: 2.5rem;
	font-weight: 800;
	letter-spacing: 2px;
}
