.form {
	width: 60%;
	box-shadow: rgba(249, 247, 247, 0.02) 0px 1px 3px 0px, rgba(244, 246, 248, 0.15) 0px 0px 0px 1px;
	padding: 10px;
}

.form_date_picker {
	border-radius: 5px;
	color: black;
}
.react-calendar {
	/* background: blue !important; */
	/* color: white; */
}

.form_input_address {
	border: 0.5px solid grey;
	padding: 5px;
}

.form_inputs {
	display: grid;
	gap: 1em;
	margin-bottom: 1em;
}

.form_submit_btn {
	background-color: grey;
	padding: 0.5em 2em;
	border-radius: 5px;
	cursor: pointer;
}
